.register__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    background-color: #000000;
    margin-bottom: 30px;
    width: 358px;
    outline: none;
}