.info-tool__container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 430px;
}