.footer__copyright {
    color: #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .footer__copyright {
        margin-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
    }
}