.login__button {
    width: 358px;
    min-height: 50px;
    margin: 186px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: 0.4s linear;
}


.login__button:hover {
    opacity: 0.85;
}