.profile__button-add {
    width: 150px;
    height: 50px;
    margin: auto 0;
    margin-left: auto;
    background-image: url(../../../images/Add_Button.svg);
    background-size: cover;
    background-color: #000000;
    border: none;
    cursor: pointer;
    transition: 0.4s linear;
    border-radius: 2px;
    outline: none;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .profile__button-add {
        margin: 36px 0 0 0;
        background-image: url(../../../images/Add_Button_large.svg);
        width: 282px;
    }
}