.info-tool__close {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -50px;
    right: -50px;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: 0.4s linear;
    outline: none;
    cursor: pointer;
}

.info-tool__close:hover {
    opacity: 0.6;
    animation: rotate 0.4s forwards;
}