.profile__button-edit {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-bottom: 8px;
    background-image: url(../../../images/Edit_Button.svg);
    background-size: cover;
    background-color: #000000;
    border: none;
    cursor: pointer;
    transition: 0.4s linear;
    outline: none;
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .profile__button-edit {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-bottom: 10px;
    }
}