.header__nav {
    color: #FFFFFF;
    list-style-type: none;
    margin: 6px 0 0 0;
    padding: 0;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}