.element__title {
    margin: 21px 0 29px 21px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}